#page_container {
  display: flex;
  justify-content: center;
}
#not_found_container {
  display: flex;
  padding-top: 60px;
}

h1 {
  font-size: 200px;
}

h2 {
  font-size: 150px;
}

img {
  width: 400px;
}

h3 {
  text-align: center;
}
