* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(12, 12, 12);
  overflow-y: scroll;
}

button {
  cursor: pointer;
}

img {
  width: 225px;
}

/* NAVBAR */

#navbar {
  background-color: rgb(12, 12, 12);
  padding-bottom: 20px;
  padding-top: 10px;
  border-bottom: 1px solid white;
  position: fixed;
  width: 100%;
}

#navbar h1 a {
  color: white;
  padding-left: 20px;
}

nav ol {
  list-style-type: none;
  height: 50px;
}

nav li {
  width: 150px;
  font-size: 30px;
  padding-top: 7px;
  display: inline-block;
  height: 100%;
}

nav li:nth-child(1) {
  padding-left: 15vw;
}

nav li:nth-child(2) {
  padding-right: 15vw;
}

nav li:nth-child(1):hover {
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgba(148, 148, 148, 0.5)
  );
}

nav li:nth-child(2):hover {
  background-image: linear-gradient(
    to left,
    rgba(255, 0, 0, 0),
    rgba(148, 148, 148, 0.5)
  );
}

nav ol a {
  text-decoration: none;
  color: white;
}

.navbar_center {
  text-align: center;
}

#post_container {
  padding-top: 140px;
  color: white;
  padding-left: 20px;
}

#post_container h1 {
  font-size: 50px;
}

#post_container p {
  font-size: 15px;
  padding-top: 10px;
}

#post_container h4 {
  font-size: 16px;
  padding-top: 10px;
}

form {
  padding-top: 10px;
}

form button:nth-child(1) {
  margin-top: 20px;
  font-size: 15px;
  width: 90px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0);
  border: 0.5px solid rgb(255, 0, 0);
  border-radius: 3px;
  color: rgb(255, 0, 0);
  margin-right: 5px;
}

form button:nth-child(2) {
  margin-top: 20px;
  font-size: 15px;
  width: 60px;
  height: 30px;
  background-color: rgb(31, 229, 255);
  border: 1px solid white;
  border-radius: 3px;
  color: white;
  margin-right: 5px;
}

form button:nth-child(3) {
  margin-top: 20px;
  font-size: 15px;
  width: 90px;
  height: 30px;
  background-color: rgb(255, 0, 0);
  border: 0.5px solid white;
  border-radius: 3px;
  color: white;
}
