<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/404.css" />
    <title>404</title>
  </head>
  <body></body>
</html>

<div id="page_container">
  <div id="not_found_container">
    <h1>404</h1>

    <div id="img-container">
      <img
        src="https://core-docs.s3.amazonaws.com/plano_cusd_%2388_ar/article/image/0240760b-ba97-4b56-966d-75702d73863e.jpg"
        alt="oh no!"
      />
    </div>
    <h2>Page Not Found!</h2>
  </div>
</div>

<h3><a href="/">go back to home</a></h3>
