{% extends 'base.html' %}

<!-- content -->
{% block content %}
<h1 class="page_title">Add a post for {{cur_user.full_name}}</h1>

<div class="page_container">
  <form action="/users/{{cur_user.id}}/posts/new" class="form" method="post">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" />

    <label for="content">Content:</label>
    <textarea name="content" id="content" rows="4" cols="50"></textarea>

    <div id="checkbox_container">
      {% for tag in tags %}
      <div class="checkbox_container_item">
        <input
          type="checkbox"
          name="checkbox"
          id="checkbox_{{loop.index}}"
          value="{{ tag.name }}"
          class="checkbox_tag"
        />
        <label for="checkbox_{{loop.index}}">{{tag.name}}</label>
      </div>
      {% endfor %}
    </div>

    <div class="btns_container">
      <button
        type="submit"
        name="add"
        value="2"
        id="add_btn_add_post"
        class="add_btn"
      >
        Add
      </button>
      <button
        type="submit"
        name="cancel"
        value="1"
        id="cancel_btn_add_post"
        class="cancel_btn"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
{% endblock %}
