{% extends 'base.html' %}

<!-- style -->
{% block stylesheet%}
<link rel="stylesheet" href="/static/add_user.css" />
{% endblock %}

<!-- content -->
{% block content %}
<h1 id="create_user_title">Create a user</h1>

<div id="new_user_form_container">
  <form action="/users" id="new_user_form" method="post">
    <label for="first_name">First Name:</label>
    <input type="text" id="first_name" name="first_name" required />

    <label for="last_name">Last Name:</label>
    <input type="text" id="last_name" name="last_name" required />

    <label for="img_url">Profile Picture URL:</label>
    <input type="text" id="img_url" name="img_url" />

    <button>Add</button>
  </form>
</div>
{% endblock %}
