<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogly</title>

    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div id="navbar">
      <div class="logo">
        <h1><a href="/">Blogly</a></h1>
      </div>

      <div class="navbar_center">
        <nav>
          <ol>
            <li class="nav_item"><a href="/">Posts</a></li>
            <li class="nav_item"><a href="/users">Users</a></li>
            <li class="nav_item"><a href="/tags">Tags</a></li>
          </ol>
        </nav>
      </div>
    </div>

    {% block content %} {% endblock %}
  </body>
</html>
