{% extends 'base.html' %}

<!-- content -->
{% block content %}
<h1 class="page_title">Edit Post {{p.title}}</h1>

<div class="page_container">
  <form action="/posts/{{p.id}}/edit?prev={{prev}}" method="post" class="form">
    <label for="title" class="form_label">Title:</label>
    <input
      type="text"
      id="title"
      name="title"
      value="{{p.title}}"
      required
      class="form_input"
    />

    <label for="content" class="form_label">Content:</label>
    <textarea name="content" id="content" rows="4" cols="50">
{{p.content}}</textarea
    >

    <div id="checkbox_container">
      {% for tag in tags %}
      <div class="checkbox_container_item">
        {% if tag in p.tags %}
        <input
          type="checkbox"
          name="checkbox"
          id="checkbox_{{loop.index}}"
          value="{{ tag.name }}"
          class="checkbox_tag"
          checked
        />
        <label for="checkbox_{{loop.index}}">{{tag.name}}</label>
        {% else %}
        <input
          type="checkbox"
          name="checkbox"
          id="checkbox_{{loop.index}}"
          value="{{ tag.name }}"
          class="checkbox_tag"
        />
        <label for="checkbox_{{loop.index}}">{{tag.name}}</label>
        {% endif %}
      </div>
      {% endfor %}
    </div>

    <div class="btns_container">
      <button
        name="update"
        value="2"
        class="update_btn"
        id="update_btn_edit_post"
      >
        Update
      </button>
      <button
        name="cancel"
        value="1"
        class="cancel_btn"
        id="cancel_btn_edit_post"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
{% with messages = get_flashed_messages() %} {% if messages %} {% for message in
messages %}
<p style="color: red">{{ message }}</p>
{% endfor %} {% endif %} {% endwith %} {% endblock %}
