{% extends 'base.html' %}

<!-- content -->
{% block content %}
<h1 class="page_title">Edit '{{tag.name}}'</h1>

<div class="page_container">
  <form action="/tags/{{tag.id}}/edit" class="form" method="post">
    <label for="tag_name" class="form_label">Name</label>
    <input
      type="text"
      name="name"
      id="tag_name"
      class="form_input"
      value="{{tag.name}}"
    />

    <div id="checkbox_container">
      {% for post in p %}
      <div class="checkbox_container_item">
        {% if post in tag.posts %}
        <input
          type="checkbox"
          name="checkbox"
          id="checkbox_{{loop.index}}"
          value="{{ post.title }}"
          class="checkbox_tag"
          checked
        />
        <label for="checkbox_{{loop.index}}">{{post.title}}</label>
        {% else %}
        <input
          type="checkbox"
          name="checkbox"
          id="checkbox_{{loop.index}}"
          value="{{ post.title }}"
          class="checkbox_tag"
        />
        <label for="checkbox_{{loop.index}}">{{post.title}}</label>
        {% endif %}
      </div>
      {% endfor %}
    </div>

    <div class="btns_container">
      <button
        class="update_btn"
        id="update_btn_edit_tag"
        type="submit"
        value="1"
        name="update"
      >
        Update
      </button>
      <button
        class="cancel_btn"
        id="cancel_btn_edit_tag"
        type="submit"
        value="2"
        name="cancel"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
{% endblock %}
