{% extends 'base.html' %}

<!-- content -->
{% block content %}
<h3 id="recent_post_title">Recent Posts</h3>
<div class="page_container">
  {% if posts %}
  <div id="posts_container">
    {% for post in posts %}
    <div class="post">
      <h2>
        <a href="/posts/{{post.id}}/2" id="home_page_title">{{post.title}}</a>
      </h2>
      <p>{{post.content}}</p>
      <h4>
        By
        <a href="/users/{{post.user_id}}">{{post.user.full_name}} </a> on {{
        post.created_at | format_datetime}}
      </h4>
    </div>
    {% else %}
    <p id="no_post_title">no posts yet</p>
    {% endfor %}
  </div>
  {% endif %}
</div>
{% endblock %}
