{% extends 'base.html' %}

<!-- content -->
{% block content %}
<h3 id="recent_post_title">Recent Posts</h3>
<div class="page_container">
  {% if posts %}
  <div id="posts_container">
    {% for post in posts %}
    <div class="post">
      <h2>
        <a href="/posts/{{post.id}}?prev={{prev}}" id="home_page_title"
          >{{post.title}}</a
        >
      </h2>
      <p>{{post.content}}</p>
      <h4>
        By
        <a href="/users/{{post.user_id}}?prev={{prev}}" class="author_name"
          >{{post.user.full_name}}
        </a>
        on {{ post.created_at | format_datetime}}
      </h4>

      <div class="post_detail_tags" id="post_detail_tags_home">
        <h3>Tags:</h3>
        {% if post.tags %} {% for tag in post.tags %}
        <a href="/tags/{{tag.id}}?prev={{prev}}" class="tag">{{tag.name}}</a>
        {% endfor %} {% else %}
        <h4>No tags yet.</h4>
        {% endif %}
      </div>
    </div>
    {% else %}
    <p id="no_post_title">no posts yet</p>
    {% endfor %}
  </div>
  {% endif %}
</div>
{% endblock %}
