{% extends 'base.html' %}

<!-- content -->
{% block content %}
<div id="post_detail_page">
  <h1>{{post.title}}</h1>
  <p id="post_detail_content">{{post.content}}</p>

  <h4 id="post_detail_username">
    <i
      >by
      <a href="/users/{{user.id}}" class="name_details"
        >{{user.full_name}}</a
      ></i
    >
  </h4>

  <div class="post_detail_tags">
    <h3>Tags:</h3>
    {% if post.tags %}
      {% for tag in post.tags %}
        <a href="/tags/{{tag.id}}" class="tag">{{tag.name}}</a>
      {% endfor %}
    {% else %}
      <h4>No tags yet.</h4>
    {% endif %}
  </div>
  
  {% if prev != None %}
  <form action="/posts/{{post.id}}?prev={{prev}}" method="post">
    <button
      type="submit"
      name="cancel"
      value="1"
      class="cancel_btn"
      id="post_deatil_cancel_btn"
    >
      Cancel
    </button>
    {% else %}
    <form action="/posts/{{post.id}}?prev={{prev}}" method="post">
    {% endif %}
    <button
      type="submit"
      name="edit"
      value="2"
      class="edit_btn"
      id="post_detail_edit_btn"
    >
      Edit
    </button>
    <button
      type="submit"
      name="delete"
      value="3"
      class="delete_btn"
      id="post_detail_delete_btn"
    >
      Delete
    </button>
  </form>
</div>
{% endblock %}
