{% extends 'base.html' %}

<!-- content -->
{% block content %}
<div id="user_detail_page">
  <div class="img_container">
    <img src="{{user.img_url}}" alt="" />
  </div>
  <div id="details_container">
    <h1>{{user.full_name}}</h1>

    <div class="btns_container">
      <form action="/users/{{user.id}}/edit">
        <button id="edit_btn_user_details" class="edit_btn">Edit</button>
      </form>
      <form action="/users/{{user.id}}/delete" method="post">
        <button id="delete_btn_user_details" class="delete_btn">Delete</button>
      </form>
    </div>

    <div id="postsContainer">
      <h3>Posts:</h3>
      {% if posts %}
      <ul id="postsList">
        {% for post in posts %}
        <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
        {% endfor %}
      </ul>
      {% else %}
      <h4>No posts yet.</h4>
      {% endif %}

      <form action="/users/{{user.id}}/posts/new">
        <button class="add_btn" id="add_btn_user_detail">Add Post</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
